<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" th:href="@{\assets\w3.css}" />
    <link rel="stylesheet" th:href="@{\assets\pico.min.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{assets\favicon.ico}" />
    <title> Exercicio 2 parte 2 -  3398537915948600000 </title>

    <style>
      .hidrate-se {
          text-align: center;
      }
      .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
          }
      </style>
    </head>

    <body>
    <div class="w3-bar w3-cyan w3-xlarge">
        <a href="/" class="w3-bar-item w3-button w3-mobile w3-cyan">Início</a>
        <a href="/adicionarPessoas" class="w3-bar-item w3-button w3-mobile w3-cyan">Adicionar pessoa</a>
        <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile w3-cyan">Listar pessoas</a>
        <a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-cyan w3-right">Contato</a>
        <a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-cyan w3-right">Sobre o site</a>
        <a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-cyan w3-right">Notícias</a>
    </div>
    <div class="hidrate-se">
        <h1>Hidrate-se</h1>
    </div>

    <img src="assets\gordinhoVascainoDaAgua.jpg" alt="Vascaino viraliza em final e fica conhecido como o 'Gordinho da água' " title="Gordinho da Água" class="center">
   </main>
  </body>
</html>


