<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="/assets/w3.css" />
  <link rel="stylesheet" href="/assets/pico.min.css"/>
  <link rel="icon" type="image/x-icon" href="assets\favicon.ico"/>
  <title> LOJA-OFICIAL-VASCO-DA-CHURUPITA_ </title>
  
    
    <style>
        .LOJA_OFICIALVASCO_DA_CHURUPITA {
            text-align: center;
            }
        .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
            }

    </style>
  </head>

  <body>
    <div class="LOJA_OFICIALVASCO_DA_CHURUPITA" style="font-size: 40px; font-family: 'Lobster', cursive; text-shadow: 2px 2px 20px #FF0000;">
      <img src="\assets\header-nova-ajustada.png" alt="Logo do Vasco da Gama" >
      <h1>Loja Oficial do Vasco da Churupita</h1>

</main>
</body>
</html>

