<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
    <link rel="icon" type="image/x-icon" href="assets\favicon.ico"/>
    <title> LOJA-OFICIAL-VASCO-DA-CHURUPITA_ </title>
    
    <style>
        .LOJA_OFICIALVASCO_DA_CHURUPITA {
            text-align: center;
            }
        .center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
            }

    </style>
  </head>

  <body>
    <div class="LOJA_OFICIALVASCO_DA_CHURUPITA" style="font-size: 40px; font-family: 'Lobster', cursive; text-shadow: 2px 2px 20px #FF0000;">
      <img src="\assets\header-nova-ajustada.png" alt="Logo do Vasco da Gama" >
      <h1>Loja Oficial do Vasco da Churupita</h1>

      <a href="src\main\resources\templates\UserStory1.html" class="center" style="background: none; border: none; padding: 0; margin: 0;">
      <img src="\assets\logo_vasco_churupita.png" alt="Loja do Vasco da Churupita" title="Vasco da Churupita" style="width: 300px; height: 300px;">
      </a>
      <a href="src\main\resources\templates\UserStory1.html" class="w3-bar-item w3-button w3-mobile w3-black w3-center " style="font-size: 50px;">Entrar na Loja</a>
  
</main>
</body>
</html>

